<div class="grid md:grid-cols-6 gap-4">
  <div class="md:col-span-2">
    <label class="label"><span class="label-text">Type</span></label>
    <%= f.collection_select :address_type_code, @address_types, :code, :name,
          { include_blank: "Select type" }, class: "select select-bordered w-full" %>
  </div>

  <div class="md:col-span-2">
    <label class="label"><span class="label-text">Country</span></label>
    <%= f.collection_select :country_code, @countries, :code, :name,
          { selected: (f.object.country_code.presence || "US") },
          class: "select select-bordered w-full" %>
  </div>

  <div class="md:col-span-2">
    <label class="label"><span class="label-text">Region/State</span></label>
    <%= f.text_field :region_code, class: "input input-bordered w-full", placeholder: "MI" %>
  </div>

  <div class="md:col-span-3">
    <label class="label"><span class="label-text">Address line 1</span></label>
    <%= f.text_field :line1, class: "input input-bordered w-full" %>
  </div>

  <div class="md:col-span-3">
    <label class="label"><span class="label-text">Address line 2</span></label>
    <%= f.text_field :line2, class: "input input-bordered w-full" %>
  </div>

  <div class="md:col-span-3">
    <label class="label"><span class="label-text">Address line 3</span></label>
    <%= f.text_field :line3, class: "input input-bordered w-full" %>
  </div>

  <div class="md:col-span-2">
    <label class="label"><span class="label-text">City</span></label>
    <%= f.text_field :locality, class: "input input-bordered w-full" %>
  </div>

  <div>
    <label class="label"><span class="label-text">Postal code</span></label>
    <%= f.text_field :postal_code, class: "input input-bordered w-full" %>
  </div>

  <div class="md:col-span-6 flex items-center justify-between">
    <label class="label cursor-pointer gap-2">
      <%= f.check_box :is_primary, class: "checkbox" %>
      <span class="label-text">Primary</span>
    </label>

    <% if f.object.persisted? %>
      <% uid = "address_#{f.object.id}_destroy" %>
      <div>
        <%= f.check_box :_destroy, include_hidden: false, id: uid %>
        <%= f.label :_destroy, "Remove", for: uid, class: "text-sm" %>
      </div>
    <% else %>
      <%= f.hidden_field :_destroy, value: "0", id: nil %>
      <button type="button" class="btn btn-ghost btn-sm" data-action="nested-form#remove">Remove</button>
    <% end %>
  </div>
</div>
